/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Regular"), local("PTSans"),
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Color Variables */

:root {
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
  --basic-white: #FFFFFF;
  --black-light: #231F20;
  --brown-darken: #503E33;
  --brown-dark: #604E43;
  --brown-light: #847870;
  --blue-darken: #5496BD;
  --blue-dark: #669EC0;
  --blue-light: #87B5D1;
  --gray-light: #BDBBBC;
  --black-rgb: 0, 0, 0;
  --black-light-rgb: 0, 1, 1;
  --gray-rgb: 171, 171, 171;
  --white-rgb: 255, 255, 255;
}

/* Global Parameters */

body {
	min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually Hidden */

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page--body {
	min-height: 100%;
	background-color: rgba(var(--black-rgb), 0.05);
}

.page--body__shadow {
	background-color: var(--basic-white);
	box-shadow: 0 5px 15px 0 rgba(var(--black-light-rgb), 0.2);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Header. Menu */

.header--menu--list li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.header--menu--list a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Header. Menu - Colors */

.header--menu--list a:not(.active) {
  color: var(--basic-black);
}

.header--menu--list a:hover:not(.active),
.header--menu--list a:focus:not(.active) {
  color: var(--basic-blue);
}

.header--menu--list a:active:not(.active) {
  color: rgba(var(--black-rgb), 0.3);
  mix-blend-mode: normal;
}

.header--menu--list a.active {
  color: var(--basic-brown);
}

/* Header. Site Title */

.page--header h1 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/* Main. Features - Titles & Paragraphes */

.main--features h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.main--features h3,
.main--features h4 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.main--features p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/* Main. Features - Colors */

.main--features h2,
.main--features p {
  color: rgba(var(--black-rgb), 0.8);
}

.main--features div:nth-of-type(1) h3,
.main--features div:nth-of-type(5) h3,
.main--features div:nth-of-type(1) p,
.main--features div:nth-of-type(5) p {
  color: var(--basic-white);
}

.main--features div:nth-of-type(1),
.main--features div:nth-of-type(5) {
  background-color: var(--basic-blue);
}

.main--features div:nth-of-type(6),
.main--features div:nth-of-type(7),
.main--features div:nth-of-type(8) {
  background-color: rgba(var(--black-rgb), 0.065);
}

/* Main. Orders - Titles And Paragraphes */

.main--orders h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.main--orders h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main--orders p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Main. Orders - Colors */

.main--orders h3 {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  cursor: pointer;
}

.main--orders h3:hover,
.main--orders h3:focus {
  background-color: var(--brown-dark);
}

.main--orders h3:active {
  color: var(--brown-light);
  mix-blend-mode: normal;
  background-color: var(--brown-darken);
}

/* Main. Navigation Filters - Titles & Paragraphes */

.main--nav--filters h3,
.main--nav--filters li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.main--nav--filters p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main--nav--filters a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Main. Navigation Filters - Colors */

.main--nav--filters a:not(.active) {
  border-bottom: 1px dotted var(--basic-blue);
  color: rgba(var(--black-rgb), 0.3);
  mix-blend-mode: normal;
}

.main--nav--filters a:hover:not(.active),
.main--nav--filters a:focus:not(.active) {
  color: var(--basic-blue);
  opacity: 1;
}

.main--nav--filters a:active:not(.active) {
  border-bottom: none;
  color: var(--basic-black);
  opacity: 1;
}

.main--nav--filters a.active {
  color: var(--basic-blue);
}

/* Main. Search Results - Titles & Paragraphes */

.main--search--results h3 > a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main--search--results p,
.main--search--results span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.main--search--results div > a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

/* Main. Search Results - Colors */

.main--search--results h3 > a {
  color: var(--basic-black);
}

.main--search--results h3 > a:hover,
.main--search--results h3 > a:focus {
  color: var(--basic-blue);
}

.main--search--results h3 > a:active {
  color: rgba(var(--black-rgb), 0.3);
  mix-blend-mode: normal;
}

.main--search--results div > a {
  color: var(--basic-white);
}

.main--search--results div > a:first-of-type {
  background-color: var(--basic-blue);
}

.main--search--results div > a:first-of-type:hover,
.main--search--results div > a:first-of-type:focus {
  background-color: var(--blue-dark);
}

.main--search--results div > a:first-of-type:active {
  color: var(--blue-light);
  mix-blend-mode: normal;
  background-color: var(--blue-darken);
}

.main--search--results div > a:last-of-type {
  background-color: var(--basic-brown);
}

.main--search--results div > a:last-of-type:hover,
.main--search--results div > a:last-of-type:focus {
  background-color: var(--brown-dark);
}

.main--search--results div > a:last-of-type:active {
  color: var(--brown-light);
  mix-blend-mode: normal;
  background-color: var(--brown-darken);
}

.main--search--results div > p {
  color: rgba(var(--black-rgb), 0.8);
}

.main--search--results div > span {
  color: rgba(var(--black-rgb), 0.6);
  background-color: rgba(var(--black-rgb), 0.05);
}

/* Footer. Contacts - Paragraphes, Colors */

.footer--contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer--contacts a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 46px;
}

.footer--contacts a {
  color: var(--basic-black);
}

/* Footer. Designers - Paragraphes */

.footer--designers p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
